<div class="encabezado">
  <div class="inicio">
    <span class="titulo"><a routerLink="/welcome">StudyFinder</a></span>
  </div>
  <div class="menu">
    <div class="menu-item">
      <a routerLink="/asistente" class="titulo">Asistente pro</a>
    </div>
    <div class="menu-item">
      <a routerLink="/foro" class="titulo">Test estudio</a>
    </div>
    <div class="menu-item">
      <a routerLink="/cuestionario" class="titulo">¿Qué puedo estudiar?</a>
    </div>
  </div>
  <div class="perfil">
    <img src="assets/Avatar%2019.png" alt="Avatar" class="avatar"/>
    <span class="nombre-usuario">Usuario1</span>
    <a routerLink="/login" class="logout">
      <img src="assets/Logout%201.png" alt="Cerrar sesión" class="icono-logout" />
    </a>
  </div>
</div>
