<div class="pagina">
    <div class="encabezado">
      <div class="menu">
        <div class="home">
          <span class="tituloHome"><span><a routerLink="/welcome"> Home</a></span></span>
        </div>
        <div class="menu1">
          <span class="titulo1" ><a routerLink="/asistente"> Asistente pro</a> </span>
        </div>
        <div class="menu2">
          <span class="titulo2"><a routerLink="/foro"> Test estudio</a> </span>
        </div>
        <div class="menu3">
          <span class="titulo3"  ><a routerLink="/cuestionario"> ¿Que puedo estudiar?</a> </span>
        </div>
      </div>
      <div class="usuario">
        <img src="assets/Logout%201.png" alt="Avatar" class="avatar"/>
        <span class="nombreUsuario"><span>Usuario1</span></span>
      </div>
      <img src="assets/Avatar19.png" alt="Cerrar sesión" class="iconoLogout"/>
    </div>
</div>
