<app-header></app-header>
<div class="div">
  <div class="div-2">Asistente Pro</div>
  <div class="div-3">
    <div class="div-4">
      <div class="column">
        <div class="div-5">
          <div class="div-6">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
              class="img"
            />
            <div class="div-7">
              <div class="div-8">David Rodríguez</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
                class="img-2"
              />
            </div>
          </div>
          <div class="div-9">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="div-10">
          <div class="div-11">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
              class="img"
            />
            <div class="div-12">
              <div class="div-13">Juan Félix</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6f8d0f941db2f202b2b3ad234d22487774a9b7a499b7a55afb0da29a7bf881b?"
                class="img-3"
              />
            </div>
          </div>
          <div class="div-14">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
      <div class="column-3">
        <div class="div-15">
          <div class="div-16">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f232c12ccad5f2e1cc419dd1c3f6725170b25b6c0b5ea21feef588b6d7c5375?"
              class="img"
            />
            <div class="div-17">
              <div class="div-18">Toni López</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/7baff49771522b173888230ce6dae505e87570e00d516a742f02473b87f21f63?"
                class="img-4"
              />
            </div>
          </div>
          <div class="div-19">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-20">
    <div class="div-21">
      <div class="column">
        <div class="div-22">
          <div class="div-23">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
              class="img"
            />
            <div class="div-24">
              <div class="div-25">Antonio Bisbal</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/c0f8704790a7eb839c58c983cab2fc68cb60517c45a47fea0e8b8561ced40e02?"
                class="img-5"
              />
            </div>
          </div>
          <div class="div-26">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
      <div class="column-4">
        <div class="div-27">
          <div class="div-28">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
              class="img"
            />
            <div class="div-29">
              <div class="div-30">César Vallejo</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/920fe6335dce96c48a3d65e6fa2651d23c2ac86a593ac2cc61448ac095d45891?"
                class="img-6"
              />
            </div>
          </div>
          <div class="div-31">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
      <div class="column-5">
        <div class="div-32">
          <div class="div-33">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/7f232c12ccad5f2e1cc419dd1c3f6725170b25b6c0b5ea21feef588b6d7c5375?"
              class="img"
            />
            <div class="div-34">
              <div class="div-35">Manolo Martínez</div>
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/5fbc3fd22b942d37129d912d94b163226746f08f737d5bb634322c0194939255?"
                class="img-7"
              />
            </div>
          </div>
          <div class="div-36">
            Comparte tus intereses, habilidades y metas, y te ofrecere algunas
            ideas y sugerencias para encontrar el camino de estudio que mejor se
            adapte a ti.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
