.div {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 49px;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  color: #171a1f;
  text-align: center;
  align-self: center;
  font: 400 40px/140% Lexend, sans-serif;
}
.div-3 {
  margin-top: 35px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.div-4 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-4 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-5 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #171a1f;
  margin: 0 auto;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-5 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-6 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 64px;
}
.div-7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-8 {
  font-family: Manrope, sans-serif;
}
.img-2 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  max-width: 100%;
}
.div-9 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-10 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  color: #171a1f;
  margin: 9px auto 0;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-10 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-11 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.div-12 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-13 {
  font-family: Manrope, sans-serif;
}
.img-3 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  margin-top: 9px;
  max-width: 100%;
}
.div-14 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-15 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: stretch;
  color: #171a1f;
  margin: auto;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-15 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-16 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.div-17 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-18 {
  font-family: Manrope, sans-serif;
}
.img-4 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  max-width: 100%;
}
.div-19 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
.div-20 {
  margin-top: 19px;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
  }
}
.div-21 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-21 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div-22 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  color: #171a1f;
  margin: 6px auto 0;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-22 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-23 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.div-24 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-25 {
  font-family: Manrope, sans-serif;
}
.img-5 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  margin-top: 9px;
  max-width: 100%;
}
.div-26 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-27 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  color: #171a1f;
  margin: 0 auto;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-27 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-28 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.div-29 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-30 {
  font-family: Manrope, sans-serif;
}
.img-6 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  max-width: 100%;
}
.div-31 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
.column-5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-5 {
    width: 100%;
  }
}
.div-32 {
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #171a1f;
  margin: 0 auto;
  padding: 24px 24px 5px;
}
@media (max-width: 991px) {
  .div-32 {
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-33 {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.div-34 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  margin: auto 0;
}
.div-35 {
  font-family: Manrope, sans-serif;
}
.img-7 {
  aspect-ratio: 5;
  object-fit: auto;
  object-position: center;
  width: 100px;
  margin-top: 9px;
  max-width: 100%;
}
.div-36 {
  margin-top: 31px;
  font: 400 16px/26px Manrope, sans-serif;
}
