<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<h1 style="font-family: Arial, sans-serif; color: #333; font-size: 24px; font-weight: bold; text-align: center;">RECOMENDACIONES</h1>





<br>


<div class="container">
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Un grado en Ingeniería Informática te sumerge en el emocionante mundo de la tecnología y la innovación. Aprenderás a diseñar y desarrollar software, así como a resolver problemas complejos utilizando la computación. Con la demanda creciente de profesionales en este campo, este grado te abrirá numerosas puertas en la industria tecnológica    </div>
  </div>
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Una licenciatura en Psicología te ofrece una fascinante exploración del comportamiento humano y la mente. Este grado te proporcionará una base sólida en teoría psicológica y técnicas de investigación, preparándote para carreras en asesoramiento, recursos humanos, investigación y más.    </div>
  </div>
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Un grado en Medicina es ideal para aquellos apasionados por la ciencia y el cuidado de la salud. A lo largo de tu formación, adquirirás conocimientos médicos fundamentales, habilidades clínicas y experiencia práctica en entornos de atención médica. Con este grado, estarás preparado para una carrera gratificante como médico    </div>
  </div>
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Una licenciatura en Derecho es el primer paso hacia una carrera en el mundo legal. Durante tus estudios, desarrollarás habilidades analíticas, de argumentación y de resolución de problemas, mientras exploras temas como el derecho civil, penal, empresarial y constitucional. Este grado te preparará para desafíos emocionantes y variados en el campo legal    </div>
  </div>
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Un grado en Educación Primaria te equipa con las habilidades necesarias para educar y nutrir a las mentes jóvenes del futuro. Aprenderás sobre desarrollo infantil, métodos de enseñanza efectivos y cómo crear un ambiente de aprendizaje positivo y estimulante. Este grado te abrirá las puertas para convertirte en un maestro dedicado y motivado.    </div>
  </div>
  
  <div class="item">
    <div class="profile">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/571726a8b55e93200c433fa3abdf17b0826733b240b0fcbaea0637cca762b3f2?"
        class="avatar"
      />
      <div class="details">
        <div class="name">David Rodríguez</div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/6150ca4d838445bc21aaf47df1a6a5c8537ed244c30394bedb82372b7292f56f?"
          class="badge"
        />
      </div>
    </div>
    <div class="description">
      Una licenciatura en Administración de Empresas es una excelente opción para aquellos interesados en liderazgo, gestión y emprendimiento. Con este grado, obtendrás una comprensión profunda de cómo funcionan las organizaciones y desarrollarás habilidades prácticas para tomar decisiones efectivas en el mundo empresarial.    </div>
  </div>
  
</div>
<br>
<br>
<br>

<app-footer></app-footer>