<div class="container86-container">
  <div class="container86-container86">
    <span class="container86-text"><span>Log in</span></span>
    <button class="container86-button9">
      <span class="container86-text02"></span>
      <img
        src="assets/Google136-fxg8g.svg"
        alt="Google136"
        class="container86-google"
      />
    </button>
    <div class="container86-textbox5">
      <input  placeholder="ejemplol@gmail.com" class="container86-textfield">
      <span class="container86-text05">
        <span>Dirección de correo electrónico</span>
      </span>
    </div>
    <div class="container86-textbox6">
      <input placeholder="Introduce la contraseña" class="container86-textfield1">

      <span class="container86-text09"><span>Contraseña</span></span>
    </div>
    <button class="container86-button12">
      <span class="container86-text11"><span>Sign up</span></span>
    </button>
    <span class="container86-text13">
      <span>¿Todavía no tienes una cuenta? <a routerLink="/register">Registro</a></span>
    </span>
  </div>
</div>

<app-footer></app-footer>
