<div class="container">
  <h1 class="main-title">STUDY FINDER</h1>

  <div class="form-container">
    <span class="form-title">Log in</span>

    <button class="google-login-button">
      <img src="assets/g.png" alt="Google Login" class="google-icon" />
    </button>

    <div class="input-group">
      <label class="input-label">Dirección de correo electrónico</label>
      <input placeholder="ejemplol@gmail.com" class="input-field" formControlName="email">
    </div>

    <div class="input-group">
      <label class="input-label">Contraseña</label>
      <input placeholder="Introduce la contraseña" class="input-field" formControlName="password">
    </div>

    <button class="submit-button" routerLink="/welcome">
      Sign up
    </button>

    <span class="register-link">
      ¿Todavía no tienes una cuenta? <a routerLink="/register">Registro</a>
    </span>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
