:host {
  display: contents;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  background: whitesmoke;
  width: 100%;
  position: absolute;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 48px;
  font-family: 'Lexend', sans-serif;
  color: rgba(23, 26, 31, 1);
  margin: 50px 0 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-container {
  width: 542px;
  padding: 20px;
  background-color: rgba(248, 249, 250, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 32px;
  color: rgba(23, 26, 31, 1);
  font-family: 'Lexend', sans-serif;
  margin-bottom: 20px;
}

.google-login-button {
  width: 48px;
  height: 48px;
  background-color: rgba(86, 94, 109, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.input-field {
  width: 100%;
  padding: 10px;
  background-color: rgba(243, 244, 246, 1);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-label {
  font-size: 14px;
  color: rgba(66, 73, 86, 1);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  background: whitesmoke;
  width: 100%;
  position: absolute;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: rgba(86, 94, 109, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-link {
  font-size: 14px;
  color: rgba(23, 26, 31, 1);
  
  margin-top: 20px;
  text-align: center;
}
