<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-container">
  <div class="form">
    <div class="question">
      <div class="question-info">

        <div class="question-text">¿Cuál es la actividad mental que más te gusta hacer?</div>
        <div class="question-diply">
          <div class="question-number">5 of 6</div>
          <br>
          
          <img
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/064eab6755d560cf9f9396c397baee2c24755c208d833cf8feb22f6a35bb0a0a?"
            alt="Question Image" class="question-img">
        </div>

      </div>
    </div>
    <div class="answers">
      <div class="answer">
        <input type="checkbox" id="pepperoni" name="pepperoni">
        <label for="pepperoni">Actividad 1</label>
      </div>
      <div class="answer">
        <input type="checkbox" id="extracheese" name="extracheese">
        <label for="extracheese">Actividad 2</label>
      </div>
      <div class="answer">
        <input type="checkbox" id="mushroom" name="mushroom">
        <label for="mushroom">Actividad 3</label>
      </div>
    </div>
    <div class="buttons">
      <button class="button">Volver</button>
      <button class="button">Siguiente</button>
    </div>
  </div>
  <img srcset="assets/Image7.png" class="side-image">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>