<app-header></app-header>
<div class="div">
  <div class="div-2">
    <div class="column">
      <div class="div-3">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/064eab6755d560cf9f9396c397baee2c24755c208d833cf8feb22f6a35bb0a0a?"
          class="img"
        />
        <div class="div-4">5 of 6</div>
        <div class="div-5">
          ¿Cuál es la actividad mental que más te gusta hacer?
        </div>
        <div class="div-6">

          <section class="example-section" [formGroup]="toppings">
          <h4>Respuestas:</h4>
            <p><mat-checkbox formControlName="pepperoni">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</mat-checkbox></p>
          <p><mat-checkbox formControlName="extracheese">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</mat-checkbox></p>
          <p><mat-checkbox formControlName="mushroom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</mat-checkbox></p>
        </section>
</div>
        <div class="div-7">
          <button class="div-8">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6c8743a011fefb62617efb4d2ee3411cd9df50e44a15652765ef93e3c74c37a?"
              class="img-2"
            />
            <div class="div-9">Volver</div>
          </button>
          <button class="div-10">
            <div class="div-11">Siguiente</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/913cc41091e31639be6bb7d8f85e1d4e14700bc192ff382070e1e7c993158995?"
              class="img-3"
            />
          </button>
        </div>
      </div>
    </div>
    <div class="column-2">
      <img
        loading="lazy"
        srcset="assets/Image7.png"
        class="img-4"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
