<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
<div class="container88-container">
  <div class="container88-container88">
    <div class="container88-group3">
      <span class="container88-text04"><span>Centros</span></span>
      <span class="container88-text06">
        <span>Universidad de Cádiz (UCA)</span>
      </span>
      <span class="container88-text08">
        <span>Universidad de Jaén (UJA)</span>
      </span>
      <span class="container88-text10">
        <span>Universidad de Granada (UGR)</span>
      </span>
      <input class="container88-textbox9">
      <span class="container88-text14"><span>Contactos</span></span>
      <span class="container88-text16">
        <span>
          Estaremos esperando a sus dudas
        </span>
      </span>
      <button class="container88-button13">
        <span class="container88-text18"><span>Subscribe</span></span>
      </button>
      <img
        src="/image1121345-2oz-200h.png"
        alt="Image1121345"
        class="container88-image112"
      />
      <span class="container88-text20">
        <span>
          <span>Universidad de Málaga (UMA)</span>
          <br />
          <span></span>
        </span>
      </span>
      <div class="container88-group2">
        <span class="container88-text25"><span>Miembros</span></span>
        <span class="container88-text27"><span>Dacaho</span></span>
        <span class="container88-text29"><span>Carlos Sisó</span></span>
        <span class="container88-text31"><span>Orteu roger</span></span>
        <span class="container88-text33"><span>Mehdi Tahrat</span></span>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
