.contenedorNoticia {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    display: flex;
    margin-bottom: 10px; /* Espacio entre cada noticia */
  }
  
  .imagenNoticia {
    width: 300px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
    margin-right: 40px;
  }
  
  .contenidoNoticia {
    flex: 1; /* El contenido de la noticia ocupará todo el espacio disponible */
  }
  
  .tituloNoticia {
    font-size: 24px; /* Tamaño del título */
    font-weight: bold; /* Negrita para el título */
    margin-bottom: 10px; /* Espacio inferior entre el título y el texto */
  }
  
  .textoNoticia {
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
  }
  