<div class="container">
  <h1 class="main-title">STUDY FINDER</h1>

  <button class="google-login-button">
    <img src="assets/g.png" alt="Google Login" class="google-icon" />
  </button>

  <form class="form-container">
    <div class="input-group">
      <label class="input-label">Apellidos</label>
      <input placeholder="Introduce el apellido" class="input-field" formControlName="apellidos">
      
    </div>

    <div class="input-group">
      <label class="input-label">Nombre</label>
      <input placeholder="Introduce el nombre" class="input-field" formControlName="nombre">
     
    </div>

    <div class="input-group">
      <label class="input-label">Dirección de correo electrónico</label>
      <input placeholder="ejemplol@gmail.com" class="input-field" formControlName="email">
     
    </div>

    <div class="input-group">
      <label class="input-label">Contraseña</label>
      <input placeholder="Introduce la contraseña" class="input-field" formControlName="password">
     
    </div>

    <div class="terms">
      <input type="checkbox" class="terms-checkbox">
      <label class="terms-label">He leído y acepto los términos y condiciones de uso</label>
    </div>

    <button type="submit" class="submit-button">Register</button>

    <span class="login-link">
      ¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a>
    </span>
  </form>
</div>
<br>
<br>

<app-footer></app-footer>
