<div class="container86-container">
  <div class="container86-container86">
    <span class="container86-text"><span>Registro</span></span>
    <button class="container86-button9">
      <span class="container86-text02"></span>
      <img
        src="assets/Google136-fxg8g.svg"
        alt="Google1383"
        class="container86-google"
      />
    </button>
    <div class="container86-textbox3">
      <div class="container86-textfield">
        <span class="container86-text03">
          <span>Introduce el apellido</span>
        </span>
      </div>
      <span class="container86-text05"><span>Apellidos</span></span>
    </div>
    <div class="container86-textbox4">
      <input placeholder="Introduce el nombre" class="container86-textfield1">
        <span class="container86-text07"><span></span></span>
      <span class="container86-text09"><span>Nombre</span></span>
    </div>
    <div class="container86-textbox5">
      <span class="container86-text11">
        <span>Dirección de correo electrónico</span>
      </span>
      <div class="container86-textfield2">
        <span class="container86-text13"><span>ejemplol@gmail.com</span></span>
      </div>
    </div>
    <div class="container86-textbox6">
      <span class="container86-text15"><span>Contraseña</span></span>
      <div class="container86-textfield3">
        <span class="container86-text17">
          <span>Introduce la contraseña</span>
        </span>
        <img src="/assets/Hide1317-9e8n.svg" alt="Hide1310" class="container86-hide" />
      </div>
    </div>
    <span class="container86-text19">
      <span>He leído y acepto los términos y condiciones de uso</span>
    </span>
    <button class="container86-button12">
      <span class="container86-text21"><span>Register</span></span>
    </button>
    <span class="container86-text23">
      <span>¿Ya tienes una cuenta? Iniciar sesión</span>
    </span>
    <div class="container86-checkbox6">
      <div class="container86-frame">
        <img
          src="/rectangle1311-l65a-200h.png"
          alt="Rectangle1311"
          class="container86-rectangle"
        />
        <img
          src="/frame1311-dcv7.svg"
          alt="Frame1311"
          class="container86-frame1"
        />
        <span class="container86-text25"></span>
      </div>
    </div>
    <div class="container86-textbox61">
      <span class="container86-text26"><span>Confirmar contraseña</span></span>
      <input class="container86-textfield4" placeholder="Introduce la contraseña" />
    </div>
  </div>
</div>
<app-footer></app-footer>
