<app-header></app-header>
<div class="div">
  <div class="div-2">
    <div class="div-3">Pregunta a la comunidad</div>
    <div class="div-4">Filtros</div>
  </div>
  <div class="div-5">
    <div class="div-6">
      <div class="div-7">
        <div class="div-8">Foro</div>
        <div class="div-9"></div>
      </div>
    </div>
    <div class="div-10">
      <div class="div-11">
        <div class="div-12">Diseño</div>
        <div class="div-13">Ingés</div>
        <div class="div-14">Security</div>
        <div class="div-15">Grado medio</div>
      </div>
      <div class="div-16">
        <div class="div-17">Advanced features</div>
        <div class="div-18">No code</div>
      </div>
    </div>
  </div>
  <div class="div-19">
    <div class="div-20">
      <div class="column">
        <div class="div-21">
          <div class="div-22">
            <div class="div-23">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?"
                class="img"
              />
              <div class="div-24">Rodrigo Sánchez</div>
              <div class="div-25">10:50 AM</div>
            </div>
            <div class="div-26">
              Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit
              anim amet duis non esse. Pariatur no
            </div>
            <div class="div-27">
              Eu laborum fugiat magna reprehenderit reprehenderit tempor
              aliquip nisi officia irure qui ad. Labore pariatur ex ut
              aliqua ad exercitation deserunt eu nisi do velit mollit
              consequat in quis. Adipisicing magna consectetur incididunt
            </div>
          </div>
          <div class="div-28">Ver más</div>
        </div>
      </div>
      <div class="column-2">
        <div class="div-29">
          <div class="div-30">
            <img
              loading="lazy"
              srcset="assets/Image7.png"
              class="img-2"
            />
            <div class="div-31">Titulo Centro</div>
            <div class="div-32">
              Descripcion centro
              <br />
              Descripcion centro
            </div>
          </div>
          <div class="div-33">
            <div class="div-34">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/ebdfdb31fc4c212199d1d97509121d2187e36110e3ff9edb6e4a4ee600a8b0c7?"
                class="img-3"
              />
              <div class="div-35">Search</div>
            </div>
            <div class="div-36">Buscar Centro</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
