<app-header></app-header>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="header">Foro de Comentarios</div>
  <div class="content">
    <div class="filters">
      <div class="filter-title">FILTRAR POR:</div>
    
      <div class="filter-item">Diseño</div>
      <div class="filter-item">Inglés</div>
      <div class="filter-item">Seguridad</div>
      <div class="filter-item">Grado medio</div>
      <div class="filter-item">Universidad</div>
      <div class="filter-item">Sin código</div>
      <div class="read-more">Ver más</div>
    </div>
    <div class="forum">
      <div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div>
      <div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div><div class="post">
        <div class="user-info">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/bd3e71622679409659781f5be6b98ba64bd632f90f9de61344cb8c8824a6ecd0?" alt="Avatar">
          <div class="username">Rodrigo Sánchez</div>
          <div class="timestamp">10:50 AM</div>
        </div>
        <div class="content">
          Nulla aute nisi quis nostrud reprehenderit nisi cillum mollit anim amet duis non esse. Pariatur no
        </div>
        <div class="read-more">Ver más</div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
