  <div class="box">
    <div class="div">
      <div class="div-2">
        <div class="column">
          <div class="div-3">
            <div class="div-4">
              <div class="column-2">
                <div class="div-5">&nbsp; &nbsp; &nbsp; &nbsp;David Tahat</div>
              </div>
              <div class="column-3">
                <div class="div-6">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/ac268d07ecfd65ea8b489cc55ea166fef3f81b3672f65143cd3cf39331e2a35b?"
                    class="img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-4">
          <div class="div-7">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/ec4dbc4ed4004422f736189821344b6f415efe3fc0fce1ae2cc9ee81ef69f0e5?"
              class="img-2"
            />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/e7618f485e2c5f46d28fac0911259b5807c4fdb7e469fcad889d5d9bd7d7c847?"
              class="img-3"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="div-8">
      <div class="div-9">
        <div class="div-10">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/905d515995ec3a5b8b17a45da09c06ab601ce8f498a2cc1afec7f6834dfe1b98?"
            class="img-4"
          />
          <div class="div-11">
            <div class="div-12">(123) 456-7890</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/809c7562e56c44af22bae695a54b2f99e24496b2b545a654413a5be3e5ae0abc?"
              class="img-5"
            />
          </div>
        </div>
        <div class="div-13">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/c190f345277e2aaba13f0a4142e0f322b6ef1348f5d961fc85a9f3c9603375e6?"
            class="img-6"
          />
          <div class="div-14">(123) 456-7890</div>
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/809c7562e56c44af22bae695a54b2f99e24496b2b545a654413a5be3e5ae0abc?"
          class="img-7"
        />
        <div class="div-15">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f421ce836167efc21f8d7c1752d59775060635f880062c9fcbe3e23301ff6b8?"
            class="img-8"
          />
          <div class="div-16">AvaSav@example.com</div>
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/809c7562e56c44af22bae695a54b2f99e24496b2b545a654413a5be3e5ae0abc?"
          class="img-9"
        />
        <div class="div-17">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f50e881d586f7aea85b44933a65a3c1a59dc2a1f2ff51e25ae313158d0d2bb12?"
            class="img-10"
          />
          <div class="div-18">99 La Segarra Ave. Lleida, España 99</div>
        </div>
      </div>
      <div class="div-19">Social Accounts</div>
    </div>
    <div class="div-20">
      <div class="div-21">
        <div class="div-22">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/778d15f11a50372e34dcf6c14f947ba62f2935d0c89e7a954a547c8f52f5e3bc?"
            class="img-11"
          />
          <div class="div-23">David Calin Hola</div>
        </div>
        <div class="div-24">
          <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/f90543574a2d9fec5fa6b9df5176442709f7e8a43994f36cbd7489fefa1a3f15?"
            class="img-12"
          />
          <div class="div-25">David Calin Hola</div>
        </div>
      </div>
      <div class="div-26"></div>
    </div>
  </div>
 